.title {
    font-family: 'PyeongChangPeace-Bold';
    font-size: 36px;
    
    padding-top: 150px;
    margin-bottom: 50px;
}

.title > span {
    font-family: 'GmarketSansMideum';
    font-size: 16px;
}

.moviebody {
    padding-bottom: 80px;
}

.detail__title {
    font-family: 'GmarketSansBold';
    font-size: 40px;
    
    padding-top: 150px;
}

.detail__index {
    font-size: 18px;
    color: rgb(99, 99, 99);

    margin-bottom: 40px;
}

.detail__img {
    float: left;
    margin-right: 30px;
    margin-bottom: 40px;
}